name: Spell Check

on:
  pull_request:
    branches: [main]

jobs:
  spellcheck:
    name: Spell Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: streetsidesoftware/cspell-action@9cd41bb518a24fefdafd9880cbab8f0ceba04d28
        with:
          config: cspell.json
